Client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BanqueWs">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:5566/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversionEutoToDH">
<part name="parameters" element="tns:conversionEutoToDH"/>
</message>
<message name="conversionEutoToDHResponse">
<part name="parameters" element="tns:conversionEutoToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="ListComptes">
<part name="parameters" element="tns:ListComptes"/>
</message>
<message name="ListComptesResponse">
<part name="parameters" element="tns:ListComptesResponse"/>
</message>
<portType name="BanqueService">
<operation name="conversionEutoToDH">
<input wsam:Action="http://WS/BanqueService/conversionEutoToDHRequest" message="tns:conversionEutoToDH"/>
<output wsam:Action="http://WS/BanqueService/conversionEutoToDHResponse" message="tns:conversionEutoToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://WS/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://WS/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="ListComptes">
<input wsam:Action="http://WS/BanqueService/ListComptesRequest" message="tns:ListComptes"/>
<output wsam:Action="http://WS/BanqueService/ListComptesResponse" message="tns:ListComptesResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversionEutoToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWs">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:5566/"/>
</port>
</service>
</definitions>